@{
    ViewBag.Title = "品质异常查询";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<style>
    .layui-card {
        border: 1px solid #f2f2f2;
        border-radius: 5px;
    }

    .icon {
        margin-right: 10px;
        color: #1aa094;
    }

    .icon-cray {
        color: #ffb800 !important;
    }

    .icon-blue {
        color: #1e9fff !important;
    }

    .icon-tip {
        color: #ff5722 !important;
    }

    .layuimini-qiuck-module {
        text-align: center;
        margin-top: 10px
    }

        .layuimini-qiuck-module a i {
            display: inline-block;
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 2px;
            font-size: 30px;
            background-color: #F8F8F8;
            color: #333;
            transition: all .3s;
            -webkit-transition: all .3s;
        }

        .layuimini-qiuck-module a cite {
            position: relative;
            top: 2px;
            display: block;
            color: #666;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
        }

    .welcome-module {
        width: 40%;
        height: 100px;
    }

    .panel {
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05)
    }

    .panel-body {
        padding: 30px
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
        color: inherit
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        margin-top: .3em;
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        margin-top: .3em;
    }

    .layui-bg-number {
        background-color: #F8F8F8;
    }

    .tmp-layui-col-xs4 {
        width: 12.5%;
        float: left;
        position: relative;
        display: block;
        box-sizing: border-box
    }
</style>
<script>
    layui.use(['jquery', 'form', 'table', 'common', 'tablePlug', "layer", 'echarts', 'element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            common = layui.common,
            layer = layui.layer,
            echarts = layui.echarts,
            element = layui.element;;
        wcLoading.close();
        $(function () {
            loadOne();
        });
        function loadOne() {
            common.rendertable({
                elem: '#currentTableId',
                id: 'currentTableId',
                url: '/QualityOptimization/QualityExceptionQuery/GetGridJson',
                height: 740,
                toolbar: false,/*隐藏打印*/
                page: true,/*隐藏分页*/
                sqlkey: 'id',//数据库主键
                cols: [[
                    { field: 'id', title: '序号', sort: false, hide: false, width: 80, hideAlways: true, align: 'center' },
                    { field: 'Department', title: '部门', width: 200, sort: true, filter: true },
                    { field: 'WorkingProcedure', title: '工序', width: 200, sort: false },
                    { field: 'Pending', title: '待处理', width: 200, sort: false },
                    { field: 'TeCai', title: '特采', width: 200, sort: false },
                    { field: 'Rework', title: '返工', width: 200, sort: false },
                    { field: 'Repair', title: '修补', width: 200, sort: false },
                    { field: 'Scrap', title: '报废', width: 200, sort: false },
                    { field: 'Total', title: '合计', width: 180, sort: false },
                ]]
            });
            //监听行双击事件
            table.on('rowDouble(currentTableFilter)', function (obj) {
                debugger;
                //obj 同上
                common.modalOpen({
                    title: "品质异常查询明细",
                    url: "/QualityOptimization/QualityExceptionQuery/Form?keyValue=" + obj.data.ParentId,
                    width: "1500px",
                    height: "800px",
                    btn: []
                });
            });
        }
    })
</script>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>品质异常查询
                        @*<button type="button" id="funThree" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>*@
                    </div>
                    <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
                </div>
            </div>
        </div>
    </div>
</div>