@{
    ViewBag.Title = " 财务分析";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="~/lib/layui-v2.5.5/css/layui.css" rel="stylesheet" />
<style>
    .layui-date1 {
        position: absolute;
        right: 3px;
        top: 25%;
        margin-top: -10px;
        cursor: pointer;
        font-size: 28px;
        color: #1aa094;
    }

    .layui-date2 {
        position: absolute;
        right: 3px;
        top: 25%;
        margin-top: -10px;
        cursor: pointer;
        font-size: 28px;
        color: #1aa094;
    }

    .layui-date3 {
        position: absolute;
        right: 3px;
        top: 25%;
        margin-top: -10px;
        cursor: pointer;
        font-size: 28px;
        color: #1aa094;
    }
    .layui-card {
        border: 1px solid #f2f2f2;
        border-radius: 5px;
    }

    .icon {
        margin-right: 10px;
        color: #1aa094;
    }

    .icon-cray {
        color: #ffb800 !important;
    }

    .icon-blue {
        color: #1e9fff !important;
    }

    .icon-tip {
        color: #ff5722 !important;
    }

    .layuimini-qiuck-module {
        text-align: center;
        margin-top: 10px
    }

        .layuimini-qiuck-module a i {
            display: inline-block;
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 2px;
            font-size: 30px;
            background-color: #F8F8F8;
            color: #333;
            transition: all .3s;
            -webkit-transition: all .3s;
        }

        .layuimini-qiuck-module a cite {
            position: relative;
            top: 2px;
            display: block;
            color: #666;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
        }

    .welcome-module {
        width: 40%;
        height: 100px;
    }

    .panel {
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05)
    }

    .panel-body {
        padding: 30px
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
        color: inherit
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        margin-top: .3em;
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        margin-top: .3em;
    }

    .layui-bg-number {
        background-color: #F8F8F8;
    }

    .tmp-layui-col-xs4 {
        width: 12.5%;
        float: left;
        position: relative;
        display: block;
        box-sizing: border-box
    }
</style>
<script>
    layui.use(['jquery', 'form', 'table', 'common', 'tablePlug', "layer", 'echarts', 'element', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            common = layui.common,
            layer = layui.layer,
            echarts = layui.echarts,
            element = layui.element,
            laydate = layui.laydate;
        wcLoading.close();
        $(function () {
            loadOne1a();
            loadOne1b();
            loadTwo();
            loadThree();
            loadFour();
            loadFive();
        });
        laydate.render({
            elem: '#test1'
            , range: true,
            eventElem: '.layui-date1',
            trigger: 'click',
            done: (value) => {
                //赋值
                $('#test1').val(value);
                //执行指定方法
                loadOne1a();
                loadOne1b();
            }
        });
        laydate.render({
            elem: '#test2'
            , range: true,
            eventElem: '.layui-date2',
            trigger: 'click',
            done: (value) => {
                //赋值
                $('#test2').val(value);
                //执行指定方法
                loadTwo();
            }
        });
        laydate.render({
            elem: '#test3'
            , range: true,
            eventElem: '.layui-date3',
            trigger: 'click',
            done: (value) => {
                //赋值
                $('#test3').val(value);
                //执行指定方法
                loadThree();
            }
        });
        function loadOne1a() {
            var listName = new Array();
            var TotalCost = 0;
            var str = [];
            var keyValue = $('#test1').val();
            $.ajax({
                url: "/CostAnalysis/FinancialAnalysis/GetDataFATotalCycleCost",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $(data).each(function (index, item) {
                        listName.push(item.Name);
                        var str3 = new Object();
                        str3.name = item.Name;
                        str3.value = item.Cost;
                        str[index] = str3;
                        TotalCost += item.Cost;
                    })
                }
            });
            var myChart = echarts.init(document.getElementById('chart1a'));
            // 指定图表的配置项和数据
            var option = {
                title: {//标题组件
                    text: '￥' + TotalCost + '万',
                    top: '45%',
                    left: '43%',
                    textStyle: {
                        color: "#808080",
                        fontSize: 15,
                        fontFamily: 'KaiTi',
                    }
                },
                tooltip: { //提示框组件
                    trigger: 'item', //触发类型(饼状图片就是用这个)
                    formatter: "{b} : {c} ({d}%)"//"{a} <br/>{b} : {c} ({d}%)" //提示框浮层内容格式器
                },
                color: ['#febf37', '#f18533', '#6d48e6', '#ff6139'],  //手动设置每个图例的颜色
                //legend: {  //图例组件
                //    //right:100,  //图例组件离右边的距离
                //    //orient: 'horizontal',  //布局  纵向布局 图例标记居文字的左边 vertical则反之
                //    //width: 40,      //图行例组件的宽度,默认自适应
                //    //x: 'right',   //图例显示在右边
                //    //y: 'bottom',   //图例在垂直方向上面显示居中
                //    itemWidth: 10,  //图例标记的图形宽度
                //    itemHeight: 10, //图例标记的图形高度
                //    bottom: 0,
                //    left: 'center',
                //    data: listName,//['物料', '外协', '自制', '异常'],
                //    textStyle: {    //图例文字的样式
                //        color: '#808080',  //文字颜色
                //        fontSize: 12    //文字大小
                //    }
                //},
                series: [ //系列列表
                    {
                        //name:'设备状态',  //系列名称
                        type: 'pie',   //类型 pie表示饼图
                        center: ['54%', '50%'], //设置饼的原心坐标 不设置就会默认在中心的位置
                        radius: ['40%', '58%'],  //饼图的半径,第一项是内半径,第二项是外半径,内半径为0就是真的饼,不是环形
                        itemStyle: {  //图形样式
                            normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                                borderWidth: 4,
                                borderColor: '#fff',
                                //label: {  //饼图图形上的文本标签
                                //    show: true,  //平常不显示
                                //    formatter: '{c}%',
                                //    position: 'inner'
                                //},
                                //labelLine: {     //标签的视觉引导线样式
                                //    show: false  //平常不显示
                                //}
                                label: {
                                    //formatter: '{font|{c}}\n{hr|}\n{font|{d}%}',
                                    formatter: function (params) {
                                        var percent = 0;
                                        var total = 0;
                                        for (var i = 0; i < str.length; i++) {
                                            total += str[i].value;
                                        }
                                        percent = ((params.value / total) * 100).toFixed(0);
                                        if (params.name !== '') {
                                            return params.name + '：' + params.value + '万' + '\n' + '\n' + percent + '%';
                                        } else {
                                            return '';
                                        }
                                    },
                                    rich: {
                                        font: {
                                            fontSize: 14,
                                            padding: [5, 0],
                                            color: '#808080'
                                        },
                                        hr: {
                                            height: 0,
                                            borderWidth: 1,
                                            width: '100%',
                                            borderColor: '#808080'
                                        }
                                    }
                                },
                                labelLine: {
                                    length: 5,
                                    length2: 10,
                                    show: true,
                                    color: '#00ffff'
                                }
                            },
                            //emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            //    label: {  //饼图图形上的文本标签
                            //        show: true,
                            //        position: 'center',
                            //        textStyle: {
                            //            fontSize: '18',
                            //            fontWeight: 'bold'
                            //        }
                            //    }
                            //}
                        },
                        data: str
                    }
                ]
            };
            myChart.setOption(option);
            // echarts 窗口缩放自适应
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        }
        function loadOne1b() {
            var listName = new Array();
            var TotalCost = 0;
            var str = [];
            var keyValue = $('#test1').val();
            $.ajax({
                url: "/CostAnalysis/FinancialAnalysis/GetDataFACostByDepartment",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $(data).each(function (index, item) {
                        listName.push(item.Name);
                        var str3 = new Object();
                        str3.name = item.Name;
                        str3.value = item.Cost;
                        str[index] = str3;
                        TotalCost += item.Cost;
                    })
                }
            });

            var myChart = echarts.init(document.getElementById('chart1b'));
            var option = {
                title: {//标题组件
                    text: '￥' + TotalCost + '万',
                    top: '45%',
                    left: '44%',
                    textStyle: {
                        color: "#808080",
                        fontSize: 15,
                        fontFamily: 'KaiTi',
                    }
                },
                tooltip: { //提示框组件
                    trigger: 'item', //触发类型(饼状图片就是用这个)
                    formatter: "{b} : {c} ({d}%)"//"{a} <br/>{b} : {c} ({d}%)" //提示框浮层内容格式器
                },
                color: ['#febf37', '#f18533', '#6d48e6', '#ff6139'],  //手动设置每个图例的颜色
                //legend: {
                //    //orient: 'vertical',
                //    left: 'center',
                //    itemWidth: 10,  //图例标记的图形宽度
                //    itemHeight: 10, //图例标记的图形高度
                //    bottom: 20,
                //    data: listName,//['CNC', 'EDM', 'WEDM', '车铣磨抛']
                //    textStyle: {    //图例文字的样式
                //        color: '#808080',  //文字颜色
                //        fontSize: 12    //文字大小
                //    }
                //},
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        center: ['55%', '50%'],
                        radius: ['40%', '58%'],
                        data: str//[{ value: 23, name: 'CNC' },{ value: 26, name: 'EDM' },{ value: 17, name: 'WEDM' },{ value: 34, name: '车铣磨抛' },]
                        ,
                        itemStyle: {  //图形样式
                            normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                                borderWidth: 4,
                                borderColor: '#fff',
                                //label: {  //饼图图形上的文本标签
                                //    show: true,  //平常不显示
                                //    formatter: '{c}%',
                                //    position: 'inner'
                                //},
                                //labelLine: {     //标签的视觉引导线样式
                                //    show: false  //平常不显示
                                //}
                                label: {
                                    //formatter: '{font|{c}}\n{hr|}\n{font|{d}%}',
                                    formatter: function (params) {
                                        var percent = 0;
                                        var total = 0;
                                        for (var i = 0; i < str.length; i++) {
                                            total += str[i].value;
                                        }
                                        percent = ((params.value / total) * 100).toFixed(0);
                                        if (params.name !== '') {
                                            return params.name + '\n' + '\n' + percent + '%';
                                        } else {
                                            return '';
                                        }
                                    },
                                    rich: {
                                        font: {
                                            fontSize: 14,
                                            padding: [5, 0],
                                            color: '#808080'
                                        },
                                        hr: {
                                            height: 0,
                                            borderWidth: 1,
                                            width: '100%',
                                            borderColor: '#808080'
                                        }
                                    }
                                },
                                labelLine: {
                                    length: 5,
                                    length2: 10,
                                    show: true,
                                    color: '#00ffff'
                                }
                            },
                        }
                    }
                ]
            };
            myChart.setOption(option);
            // echarts 窗口缩放自适应
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        }
        function loadTwo() {
            var listDeviceType = new Array();
            var listDeviceName = new Array();
            var listAll = new Array();
            var keyValue = $('#test2').val();
            $.ajax({
                url: "/CostAnalysis/FinancialAnalysis/GetDataFACostAnalysis",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (da) {
                    $(da).each(function (index, item) {
                        listDeviceType.push(item.DeviceType);
                        listDeviceName.push(item.DeviceName);
                        listAll.push(item);
                    })
                }
            })

            $.unique(listDeviceType);
            $.unique(listDeviceName.sort());
            var series = [];
            $.each(listDeviceName, function (index, value) {
                var tempName = new Array();
                var tempArry = new Array();
                $.each(listAll, function (index1, value1) {
                    if (value == value1.DeviceName) {
                        tempName = value1.DeviceName;
                        tempArry.push(value1.Number);
                    }
                });
                series.push({
                    name: tempName,
                    type: 'line',
                    data: tempArry,
                    symbolSize: 1,
                    symbol: 'circle',
                    smooth: true,
                    yAxisIndex: 0,
                    showSymbol: false,
                    lineStyle: {
                        width: 5,
                        color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [{
                            offset: 0,
                            color: '#9effff'
                        },
                        {
                            offset: 1,
                            color: '#9E87FF'
                        }
                        ]),
                        shadowColor: 'rgba(158,135,255, 0.3)',
                        shadowBlur: 10,
                        shadowOffsetY: 20
                    },
                    itemStyle: {
                        normal: {
                            color: tempName == "实际" ? "#9E87FF" :"#73DDFF",
                            borderColor: tempName == "实际" ? "#9E87FF" : "#73DDFF"
                        }
                    }
                })
            });

            var myChart = echarts.init(document.getElementById('chart2'));

            const colorList = ["#9E87FF", '#73DDFF', '#fe9a8b', '#F56948', '#9E87FF']
            const xData = listDeviceType;
            var option = {
                backgroundColor: '#fff',
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        label: {
                            show: true,
                            backgroundColor: '#fff',
                            color: '#556677',
                            borderColor: 'rgba(0,0,0,0)',
                            shadowColor: 'rgba(0,0,0,0)',
                            shadowOffsetY: 0
                        },
                        lineStyle: {
                            width: 0
                        }
                    },
                    backgroundColor: '#fff',
                    textStyle: {
                        color: '#5c6c7c'
                    },
                    padding: [10, 10],
                    extraCssText: 'box-shadow: 1px 0 2px 0 rgba(163,163,163,0.5)'
                },
                grid: {
                    top: '15%'
                },
                xAxis: [{
                    type: 'category',
                    data: xData,
                    axisLine: {
                        lineStyle: {
                            color: 'rgba(107,107,107,0.37)', //x轴颜色
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        interval: 0,
                        textStyle: {
                            color: '#808080' //坐标轴字颜色
                        },
                        margin: 15
                    },
                    axisPointer: {
                        label: {
                            padding: [11, 5, 7],
                            backgroundColor: {
                                type: 'linear',
                                x: 0,
                                y: 0,
                                x2: 0,
                                y2: 1,
                                colorStops: [{
                                    offset: 0,
                                    color: '#fff' // 0% 处的颜色
                                }, {
                                    offset: 0.9,
                                    color: '#fff' // 0% 处的颜色
                                }, {
                                    offset: 0.9,
                                    color: '#33c0cd' // 0% 处的颜色
                                }, {
                                    offset: 1,
                                    color: '#33c0cd' // 100% 处的颜色
                                }],
                                global: false // 缺省为 false
                            }
                        }
                    },
                    boundaryGap: false
                }],
                yAxis: [{
                    type: 'value',
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: 'rgba(107,107,107,0.37)', //y轴颜色
                        }
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#f2961d'
                        }
                    },
                    splitLine: {
                        show: false
                    }
                }],
                series: series
            };
            myChart.setOption(option, true);
            // echarts 窗口缩放自适应
            window.addEventListener("resize", function () {
                myChart.resize();
            });

        }
        function loadThree() {
            var listDeviceType = new Array();
            var listDeviceName = new Array();
            var listAll = new Array();
            var keyValue = $('#test3').val();
            $.ajax({
                url: "/CostAnalysis/FinancialAnalysis/GetDataFACostAnalysisNotCust",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (da) {
                    $(da).each(function (index, item) {
                        listDeviceType.push(item.DeviceType);
                        listDeviceName.push(item.DeviceName);
                        listAll.push(item);
                    })
                }
            })

            $.unique(listDeviceType);
            $.unique(listDeviceName.sort());

            var series = [];
            $.each(listDeviceName, function (index, value) {
                var tempName = new Array();
                var tempArry = new Array();
                $.each(listAll, function (index1, value1) {
                    if (value == value1.DeviceName) {
                        tempName = value1.DeviceName;
                        tempArry.push(value1.Number);
                    }
                });
                series.push({
                    name: tempName,
                    type: 'bar',
                    barWidth: '15%',
                    barGap: '80%',
                    data: tempArry,
                    itemStyle: {
                        normal: {
                            label: {
                                show: false, //开启显示
                                position: 'top', //在上方显示
                                textStyle: { //数值样式
                                    color: 'red',
                                    fontSize: 12
                                }
                            }
                        }
                    },
                })
            });

            var myChart = echarts.init(document.getElementById('chart3'));

            var option = {
                color: ['#f3961d', '#6d48e6', '#ff6239'],
                grid: {
                    left: '0%',
                    right: '0',
                    bottom: '0%',
                    containLabel: true
                },
                legend: {
                    itemGap: 30,
                    data: listDeviceName,
                    itemWidth: 10,  //图例标记的图形宽度
                    itemHeight: 10, //图例标记的图形高度
                    textStyle: {    //图例文字的样式
                        color: '#808080',  //文字颜色
                        fontSize: 12    //文字大小
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: { // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                xAxis: [
                    {
                        //type: 'category',
                        //axisTick: { show: false },
                        //axisLabel: {
                        //    //X轴刻度配置
                        //    interval: 0 //0：表示全部显示不间隔；auto:表示自动根据刻度个数和宽度自动设置间隔个数
                        //    , rotate: 0
                        //},
                        //data: listDeviceType,

                        type: 'category',
                        data: listDeviceType,
                        axisLine: {
                            show: false,
                            lineStyle: {
                                color: '#808080',

                            }
                        },
                        axisLabel: {
                            // interval: 0,
                            // rotate: 40,
                            textStyle: {
                                fontSize: '11'
                            }
                        },
                        axisTick: { //y轴刻度线
                            show: false
                        },

                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: "(金额)",
                        axisLine: {
                            show: false,
                            lineStyle: {
                                color: '#f2961d'
                            }
                        },
                        splitLine: {
                            show: true,
                            lineStyle: {
                                //color: "#57617B"
                                type: 'dashed'
                            }
                        },
                        axisTick: { //y轴刻度线
                            show: true
                        },
                        axisLabel: {}
                    }
                ],
                series: series
            };
            myChart.setOption(option, true);
            // echarts 窗口缩放自适应
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        }
        function loadFour() {
            var listDeviceType = new Array();
            var listDeviceName = new Array();
            var listAll = new Array();
            $.ajax({
                url: "/CostAnalysis/FinancialAnalysis/GetFACostShare",
                dataType: "json",
                async: false,
                success: function (da) {
                    $(da).each(function (index, item) {
                        listDeviceType.push(item.DeviceType);
                        listDeviceName.push(item.DeviceName);
                        listAll.push(item);
                    })
                }
            })

            $.unique(listDeviceType);
            $.unique(listDeviceName.sort());

            var series = [];
            $.each(listDeviceName, function (index, value) {
                var tempName = new Array();
                var tempArry = new Array();
                $.each(listAll, function (index1, value1) {
                    if (value == value1.DeviceName) {
                        tempName = value1.DeviceName;
                        tempArry.push(value1.Number);
                    }
                });
                series.push({
                    name: tempName,
                    type: 'bar',
                    barWidth: '20%',
                    barGap: '80%',
                    stack: '广告' + index,
                    data: tempArry,
                    itemStyle: {
                        normal: {
                            label: {
                                show: true, //开启显示
                                position: 'right', //在上方显示
                                textStyle: { //数值样式
                                    color: '#f2961d',
                                    fontSize: 12
                                }
                            }
                        }
                    },
                })
            });

            var myChart = echarts.init(document.getElementById('chart4'));

            var option = {
                color: ['#ffbe6a', '#6d48e6'],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    },
                    formatter: function (params) {
                        var relVal = params[0].name;
                        for (var i = 0, l = params.length; i < l; i++) {
                            relVal += '<br/>' + params[i].marker + params[i].seriesName + ' : ' + params[i].value + "%";
                        }
                        return relVal;
                    }
                },
                grid: {
                    top:'0%',
                    left: '0%',
                    right: '30',
                    bottom: '0%',
                    containLabel: true
                },
                //legend: {
                //    data: listDeviceName,
                //    itemWidth: 10,  //图例标记的图形宽度
                //    itemHeight: 10, //图例标记的图形高度
                //    textStyle: {    //图例文字的样式
                //        color: '#ffffff',  //文字颜色
                //        fontSize: 12    //文字大小
                //    }
                //},
                xAxis: [
                    {
                        //type: 'category',
                        //data: listDeviceType,
                        //axisPointer: {
                        //    type: 'shadow'
                        //}
                        show: false
                    }
                ],
                yAxis: [
                    {
                        type: 'category',
                        inverse: true, //true正序false倒序
                        data: listDeviceType,
                        axisLabel: {
                            show: true,
                            interval: 'auto',
                            formatter: '{value}',
                            textStyle: {
                                color: '#808080'
                            }
                        }
                    }
                ],
                series: series
            };
            myChart.setOption(option, true);
            // echarts 窗口缩放自适应
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        }
        function loadFive() {
            common.rendertable({
                elem: '#currentTableId',
                id: 'currentTableId',
                url: "/CostAnalysis/FinancialAnalysis/GetGridJson",
                height: 200,
                toolbar: false,/*隐藏打印*/
                page: true,/*隐藏分页*/
                sqlkey: 'id',//数据库主键
                cols: [[
                    { field: 'id', title: 'ID', sort: true, hide: true, hideAlways: true },
                    { field: 'Customer', title: '客户', width: 120, sort: true },
                    { field: 'MoldNo', title: '模具编号', width: 120, sort: true },
                    { field: 'MoldName', title: '模具名称', width: 120, sort: true },
                    {
                        field: 'ReceivingDate', title: '接单日期', width: 105,
                        templet: function (d) {
                            if (d.ReceivingDate) {
                                return new Date(d.ReceivingDate).Format("yyyy-MM-dd");

                            }
                        }
                    },
                    {
                        field: 'DeliveryDate', title: '交付交期', width: 105,
                        templet: function (d) {
                            if (d.DeliveryDate) {
                                return new Date(d.DeliveryDate).Format("yyyy-MM-dd");

                            }
                        }
                    },
                    { field: 'QuotedPrice', title: '报价', width: 120, sort: true },
                    { field: 'QuotationStaff', title: '报价人员', width: 120, sort: true, filter: true},
                    { field: 'ProcessEstimation', title: '工艺预估', width: 120, sort: true },
                    { field: 'ActualCost', title: '实际成本', width: 120, sort: true },
                    {
                        field: 'DifferenceAmount', title: '差异金额', width: 120, sort: true, templet: function (d) {
                            var btns = "";
                            if (d.DifferenceAmount) {
                                if (d.DifferenceAmount > 0) {
                                    btns += '<a style="color:#ffbe6a">' + d.DifferenceAmount + '</a>';
                                }
                                else {
                                    btns += '<a style="">' + d.DifferenceAmount + '</a>';
                                }
                            }
                            return btns;
                        }
                    },
                    {
                        field: 'DifferenceRatio', title: '差异比例', width: 120, sort: true, templet: function (d) {
                            var btns = "";
                            if (d.DifferenceRatio) {
                                if (d.DifferenceRatio.indexOf("-") != -1 ) {
                                    btns += '<a style="">' + d.DifferenceRatio + '</a>';
                                }
                                else {
                                    btns += '<a style="color:#ffbe6a">' + d.DifferenceRatio + '</a>';
                                }
                            }
                            return btns;
                        }
                    },
                ]]
            });
            // 监听搜索操作
            form.on('submit(data-search-btn)', function (data) {
                //执行搜索重载
                common.reloadtable({
                    elem: 'currentTableId',
                    curr: 1,
                    where: { keyword: $('#txt_keyword').val()}
                });
                duty = null;
                return false;
            });
        }
    })
</script>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>生产成本
                        <button type="button" id="funOne" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                        <div class="layui-inline" style="float: right;">
                            日期范围
                            <div class="layui-input-inline">
                                <input type="text" style="width:200px;" class="layui-input" id="test1" placeholder=" - " readonly="readonly"><i class="layui-icon layui-date1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card-body layui-text">
                        <div style="float:left;width:50%">
                            <div style="text-align:center;font-size:13px;color:#808080;">周期总生产成本</div>
                            <div id="chart1a" style="height:240px;"></div>
                        </div>
                        <div style="margin-left:50%;">
                            <div style="text-align:center;font-size:13px;color:#808080;">自制成本按部门分类</div>
                            <div id="chart1b" style="height:240px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>客户成本分析
                        <button type="button" id="funThree" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                        <div class="layui-inline" style="float: right;">
                            日期范围
                            <div class="layui-input-inline">
                                <input type="text" style="width:200px;" class="layui-input" id="test2" placeholder=" - " readonly="readonly"><i class="layui-icon layui-date2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card-body layui-text">
                        <div id="chart2" style="height:260px;"></div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md8">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>成本分析
                        <button type="button" id="funThree" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                        <div class="layui-inline" style="float: right;">
                            日期范围
                            <div class="layui-input-inline">
                                <input type="text" style="width:200px;" class="layui-input" id="test3" placeholder=" - " readonly="readonly"><i class="layui-icon layui-date3"></i>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card-body layui-text">
                        <div id="chart3" style="height:260px;"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>外协自制成本占比
                        <button type="button" id="funThree" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                    </div>
                    <div class="layui-card-body layui-text">
                        <div id="chart4" style="height:260px;"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>成本对比表
                        <button type="button" id="funThree" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                        <div class="layui-inline" style="float: right;">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                        </div>
                        <div class="layui-inline"  style="float: right;">
                            <div class="layui-input-inline">
                                <input type="text" id="txt_keyword" name="txt_keyword" autocomplete="off" class="layui-input" placeholder="">
                            </div>
                        </div>
                    </div>
                    <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
                </div>
            </div>
        </div>
    </div>
</div>