@{
    ViewBag.Title = "生管主页";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<style>
    .layui-card {
        border: 1px solid #f2f2f2;
        border-radius: 5px;
    }

    .icon {
        margin-right: 10px;
        color: #1aa094;
    }

    .icon-cray {
        color: #ffb800 !important;
    }

    .icon-blue {
        color: #1e9fff !important;
    }

    .icon-tip {
        color: #ff5722 !important;
    }

    .layuimini-qiuck-module {
        text-align: center;
        margin-top: 10px
    }

        .layuimini-qiuck-module a i {
            display: inline-block;
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 2px;
            font-size: 30px;
            background-color: #F8F8F8;
            color: #333;
            transition: all .3s;
            -webkit-transition: all .3s;
        }

        .layuimini-qiuck-module a cite {
            position: relative;
            top: 2px;
            display: block;
            color: #666;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
        }

    .welcome-module {
        width: 40%;
        height: 100px;
    }

    .panel {
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05)
    }

    .panel-body {
        padding: 30px
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
        color: inherit
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        margin-top: .3em;
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        margin-top: .3em;
    }

    .layui-bg-number {
        background-color: #F8F8F8;
    }

    .tmp-layui-col-xs4 {
        width: 12.5%;
        float: left;
        position: relative;
        display: block;
        box-sizing: border-box
    }
</style>
<script>
    layui.use(['jquery', 'form', 'table', 'common', 'tablePlug', "layer", 'echarts', 'element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            common = layui.common,
            layer = layui.layer,
            echarts = layui.echarts,
            element = layui.element;;
        wcLoading.close();
        $(function () {
            loadOne();
            gridListOn();
            loadTwo();
            loadThree();
            gridList();
            loadFour();
        });
        function loadOne() {
            var listName = new Array();
            var Display = 0;
            var str = [];
            $.ajax({
                url: "/ProductionManage/ProductionManageHome/GetDataPMHomeMoldProgress",
                dataType: "json",
                async: false,
                success: function (data) {
                    $(data).each(function (index, item) {
                        if (index == 0) {
                            Display = item.Display;
                        }
                        listName.push(item.ProgressStatus);
                        var str3 = new Object();
                        str3.name = item.ProgressStatus;
                        str3.value = item.Cost;
                        str[index] = str3;
                    })
                }
            });
            var myChart = echarts.init(document.getElementById('chart1'));
            // 指定图表的配置项和数据
            var option = {
                title: {//标题组件
                    text: '在制' + Display + '套',
                    top: '35%',
                    left: '37%',
                    textStyle: {
                        color: "#808080",
                        fontSize: 15,
                        fontFamily: 'KaiTi',
                    }
                },
                tooltip: { //提示框组件
                    trigger: 'item', //触发类型(饼状图片就是用这个)
                    formatter: "{b} : ({c})"//"{a} <br/>{b} : {c} ({d}%)" //提示框浮层内容格式器
                },
                color: ['#f2961f', '#6d48e6'],  //手动设置每个图例的颜色
                legend: {  //图例组件
                    //right:100,  //图例组件离右边的距离
                    //orient: 'horizontal',  //布局  纵向布局 图例标记居文字的左边 vertical则反之
                    //width: 40,      //图行例组件的宽度,默认自适应
                    //x: 'left',   //图例显示在右边
                    //y: 'top',   //图例在垂直方向上面显示居中
                    itemWidth: 10,  //图例标记的图形宽度
                    itemHeight: 10, //图例标记的图形高度
                    bottom: 20,
                    left: 'center',
                    data: listName,//['物料', '外协', '自制', '异常'],
                    textStyle: {    //图例文字的样式
                        color: '#808080',  //文字颜色
                        fontSize: 12    //文字大小
                    }
                },
                series: [ //系列列表
                    {
                        //name:'设备状态',  //系列名称
                        type: 'pie',   //类型 pie表示饼图
                        center: ['50%', '40%'], //设置饼的原心坐标 不设置就会默认在中心的位置
                        radius: ['40%', '70%'],  //饼图的半径,第一项是内半径,第二项是外半径,内半径为0就是真的饼,不是环形
                        itemStyle: {  //图形样式
                            normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                                borderWidth: 4,
                                borderColor: '#fff',
                                label: {  //饼图图形上的文本标签
                                    show: true,  //平常不显示
                                    formatter: '{c}',
                                    position: 'inner'
                                },
                                labelLine: {     //标签的视觉引导线样式
                                    show: false  //平常不显示
                                }
                            },
                            emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                                label: {  //饼图图形上的文本标签
                                    show: true,
                                    position: 'center',
                                    textStyle: {
                                        fontSize: '20',
                                        fontWeight: 'bold'
                                    }
                                }
                            }
                        },
                        data: str
                    }
                ]
            };
            myChart.setOption(option);
            // echarts 窗口缩放自适应
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        }
        function gridListOn() {
            common.rendertable({
                elem: '#currentTableId2',
                id: 'currentTableId2',
                url: "/ProductionManage/ProductionManageHome/GetGridJsonOn",
                height: 220,
                toolbar: false,/*隐藏打印*/
                page: false,/*隐藏分页*/
                sqlkey: 'id',//数据库主键
                cols: [[
                    { field: 'id', title: 'ID', sort: true, hide: true, hideAlways: true },
                    { field: 'MoldNo', title: '模具编号', width: 90, sort: true },
                    { field: 'Edition', title: '版本', width: 50, sort: true, filter: true },
                    { field: 'Type', title: '类型', width: 60, sort: true },
                    {
                        field: 'PlannedDeliveryDate', title: '计划交期', width: 80,
                        templet: function (d) {
                            if (d.PlannedDeliveryDate) {
                                return new Date(d.PlannedDeliveryDate).Format("yyyy-MM-dd");

                            }
                        }
                    },
                    {
                        field: 'Progress', title: '预警', align: 'center', width: 80,
                        templet: function (d) {
                            if (d.Progress) {
                                var temp = ''
                                var tip = d.Progress.split(';');
                                if (tip == 0) {
                                    return '<div class="layui-progress" style="margin-top: 10px;"><div class="layui-progress-bar layui-bg-red" lay-percent="100%"></div></div>';
                                }
                                else if (tip > 0) {
                                    var attnum = 1 - tip;
                                    return '<div class="layui-progress layui-bg-red" style="margin-top: 10px;"><div class="layui-progress-bar layui-bg-green" lay-percent=' + attnum * 100 + '%></div></div>';
                                }
                                else if (tip.length == 2) {
                                    return '<div class="layui-progress layui-bg-red" lay-percent=' + tip[0] * 100 + '% style="margin-top: 10px;"><div class="layui-progress-bar layui-bg-green" lay-percent=' + tip[1] * 100 + '%><div class="layui-progress-bar layui-bg-orange" lay-percent=' + tip[2] * 100 + '%></div></div></div>';
                                }
                            }
                        }
                    },
                ]]
            });
        }
        function loadTwo() {
            var listDeviceType = new Array();
            var listDeviceName = new Array();
            var listAll = new Array();
            //var keyValue = $('#Types_id option:selected').val();
            $.ajax({
                url: "/ProductionManage/ProductionManageHome/GetDataPMHomeCapacityLoad",
                //data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (da) {
                    $(da).each(function (index, item) {
                        listDeviceType.push(item.DeviceType);
                        listDeviceName.push(item.DeviceName);
                        listAll.push(item);
                    })
                }
            })

            $.unique(listDeviceType);
            $.unique(listDeviceName.sort());

            var series = [];
            $.each(listDeviceName, function (index, value) {
                var tempName = new Array();
                var tempArry = new Array();
                $.each(listAll, function (index1, value1) {
                    if (value == value1.DeviceName) {
                        tempName = value1.DeviceName;
                        tempArry.push(value1.Number);
                    }
                });
                series.push({
                    name: tempName,
                    type: 'bar',
                    barWidth: '15%',
                    barGap: '80%',
                    data: tempArry,
                    itemStyle: {
                        normal: {
                            label: {
                                show: true, //开启显示
                                position: 'top', //在上方显示
                                textStyle: { //数值样式
                                    color: 'red',
                                    fontSize: 12
                                }
                            }
                        }
                    },
                })
            });

            var myChart = echarts.init(document.getElementById('chart2'));

            var option = {
                color: ['#f2961f', '#6d48e6'],
                grid: {
                    left: '0%',
                    right: '0',
                    bottom: '0%',
                    containLabel: true
                },
                legend: {
                    itemGap: 30,
                    data: listDeviceName,
                    itemWidth: 10,  //图例标记的图形宽度
                    itemHeight: 10, //图例标记的图形高度
                    textStyle: {    //图例文字的样式
                        color: '#808080',  //文字颜色
                        fontSize: 12    //文字大小
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: { // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                xAxis: [
                    {
                        //type: 'category',
                        //axisTick: { show: false },
                        //axisLabel: {
                        //    //X轴刻度配置
                        //    interval: 0 //0：表示全部显示不间隔；auto:表示自动根据刻度个数和宽度自动设置间隔个数
                        //    , rotate: 0
                        //},
                        //data: listDeviceType,

                        type: 'category',
                        data: listDeviceType,
                        axisLine: {
                            show: false,
                            lineStyle: {
                                color: '#808080',

                            }
                        },
                        axisLabel: {
                            // interval: 0,
                            // rotate: 40,
                            textStyle: {
                                fontSize: '11'
                            }
                        },
                        axisTick: { //y轴刻度线
                            show: false
                        },

                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        axisLine: {
                            show: false,
                            lineStyle: {
                                color: '#f2961d'
                            }
                        },
                        splitLine: {
                            show: true,
                            lineStyle: {
                                //color: "#57617B"
                                type: 'dashed'
                            }
                        },
                        axisTick: { //y轴刻度线
                            show: true
                        },
                        axisLabel: {}
                    }
                ],
                series: series
            };
            myChart.setOption(option, true);
            // echarts 窗口缩放自适应
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        }
        function loadThree() {
            var listName = new Array();
            var str = [];
            $.ajax({
                url: "/ProductionManage/ProductionManageHome/GetDataPMHomeOutsourcingRate",
                dataType: "json",
                async: false,
                success: function (data) {
                    $(data).each(function (index, item) {
                        listName.push(item.Type);
                        var str3 = new Object();
                        str3.name = item.Type;
                        str3.value = item.Cost;
                        str[index] = str3;
                    })
                }
            });
            var myChart = echarts.init(document.getElementById('chart3'));

            var option = {
                color: ['#f18533', '#6d48e6'],
                tooltip: {
                    trigger: 'item',
                    formatter: "{b} : ({c}套)"
                },
                series: [{
                    name: '',
                    type: 'pie',
                    radius: '60%',
                    center: ['45%', '60%'],
                    data: str,
                    itemStyle: {  //图形样式
                        normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                formatter: function (params) {
                                    var percent = 0;
                                    var total = 0;
                                    for (var i = 0; i < str.length; i++) {
                                        total += str[i].value;
                                    }
                                    percent = ((params.value / total) * 100).toFixed(0);
                                    if (params.name !== '') {
                                        return params.name + '：' + params.value + '套' + '\n' + '\n' + percent + '%';
                                    } else {
                                        return '';
                                    }
                                },
                                rich: {
                                    font: {
                                        fontSize: 14,
                                        padding: [5, 0],
                                        color: '#808080'
                                    },
                                    hr: {
                                        height: 0,
                                        borderWidth: 1,
                                        width: '100%',
                                        borderColor: '#808080'
                                    }
                                }
                            },
                            //labelLine: {     //标签的视觉引导线样式
                            //    show: false  //平常不显示
                            //},
                            labelLine: {
                                length: 5,
                                length2: 4,
                                show: true,
                                color: '#00ffff'
                            }
                        },

                        //emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                        //    label: {  //饼图图形上的文本标签
                        //        show: true,
                        //        position: 'center',
                        //        textStyle: {
                        //            fontSize: '20',
                        //            fontWeight: 'bold'
                        //        }
                        //    },
                        //    itemStyle: {
                        //        shadowBlur: 10,
                        //        shadowOffsetX: 0,
                        //        shadowColor: 'rgba(0, 0, 0, 0.5)'
                        //    }
                        //}
                    }
                }]
            };
            myChart.setOption(option);
            // echarts 窗口缩放自适应
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        }
        function gridList() {
            common.rendertable({
                elem: '#currentTableId',
                id: 'currentTableId',
                url: "/ProductionManage/ProductionManageHome/GetGridJson",
                height: 220,
                toolbar: false,/*隐藏打印*/
                page: false,/*隐藏分页*/
                sqlkey: 'id',//数据库主键
                cols: [[
                    { field: 'id', title: 'ID', sort: true, hide: true, hideAlways: true },
                    { field: 'ModuleNumber', title: '模号', width: 110, sort: true },
                    { field: 'WorkpieceNo', title: '工件号', width: 80, sort: true, filter: true },
                    { field: 'WorkingProcedure', title: '委外工序', width: 80, sort: true },
                    { field: 'Supplier', title: '供应商', width: 60, sort: true },
                    {
                        field: 'PlannedDeliveryDate', title: '计划交期', width: 110,
                        templet: function (d) {
                            if (d.PlannedDeliveryDate) {
                                return new Date(d.PlannedDeliveryDate).Format("yyyy-MM-dd");

                            }
                        }
                    },
                    { field: 'DaysOfExtension', title: '延期天数', width: 70, sort: true },
                    { field: 'OrderStatus', title: '状态', width: 80, sort: true },
                ]]
            });
        }
        function loadFour() {
            var listMonthDay = new Array();
            var listAll = new Array();
            var listDeviceName = new Array();
            $.ajax({
                url: "/ProductionManage/ProductionManageHome/GetDataPMHomeJiadongRate",
                dataType: "json",
                async: false,
                success: function (data) {
                    $(data).each(function (index, item) {
                        if (item.Month_Day != "") {
                            listMonthDay.push(item.Month_Day);
                            listDeviceName.push(item.Device_Name);
                            listAll.push(item);
                        }
                    })
                }
            });
            $.unique(listMonthDay);//日期
            $.unique(listDeviceName.sort());//设备名字

            var series = [];
            $.each(listDeviceName, function (index, value) {
                var tempName = new Array();
                var tempArry = new Array();
                $.each(listAll, function (index1, value1) {
                    if (value == value1.Device_Name) {
                        tempName = value1.Device_Name;
                        tempArry.push(value1.TrendRate);
                    }
                });
                var getRandomColor = function () {
                    return '#' + Math.floor(Math.random() * 16777215).toString(16);
                }
                series.push({
                    name: tempName,
                    type: 'line',
                    smooth: true,
                    stack: '总量' + index,
                    data: tempArry,
                    itemStyle: {
                        normal: {
                            color: getRandomColor(),
                            lineStyle: {
                                // color: getRandomColor()
                            }
                        }
                    },
                })
            });

            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('chart4'));

            var option = {
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    left: 'center',
                    bottom: 10,
                    data: listDeviceName,
                    textStyle: {    //图例文字的样式
                        color: '#808080',  //文字颜色
                        fontSize: 12    //文字大小
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '20%',
                    top: '10%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: listMonthDay,
                    axisLine: {
                        show: false,
                        lineStyle: {
                            color: '#808080',

                        }
                    },
                    axisLabel: {
                        // interval: 0,
                        // rotate: 40,
                        textStyle: {
                            fontSize: '11'
                        }
                    },
                    axisTick: { //y轴刻度线
                        show: false
                    },
                },
                yAxis: {
                    min: '60',
                    type: 'value',
                    axisLine: {
                        show: false,
                        lineStyle: {
                            color: '#f2961d'
                        }
                    },
                    splitLine: {
                        show: false,
                        lineStyle: {
                            color: "#57617B"
                        }
                    },
                    axisTick: { //y轴刻度线
                        show: false
                    },
                    axisLabel: {
                        show: true,
                        interval: 'auto',
                        formatter: '{value} %'
                    },
                    show: true,
                },
                series: series
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
            // echarts 窗口缩放自适应
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        }
    })
</script>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>生产进度
                        <button type="button" id="funOne" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                    </div>
                    <div class="layui-card-body layui-text">
                        <div style="float:left;width:40%">
                            <div id="chart1" style="height:240px; "></div>
                        </div>
                        <div style="margin-left:40%;width:auto;">
                            <table class="layui-hide" id="currentTableId2" lay-filter="currentTableFilter"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>产能/负载
                        <button type="button" id="funTwo" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                    </div>
                    <div class="layui-card-body layui-text">
                        <div id="chart2" style="height:240px;"></div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>外协/物料追踪
                        <button type="button" id="funOne" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                    </div>
                    <div class="layui-card-body layui-text">
                        <div style="float:left;width:40%">
                            <div id="chart3" style="height:200px;"></div>
                        </div>
                        <div style="margin-left:40%;">
                            <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>嫁动率
                        <button type="button" id="funTwo" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                    </div>
                    <div class="layui-card-body layui-text">
                        <div id="chart4" style="height:240px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>