@{
    ViewBag.Title = " 设备管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="~/lib/layui-v2.5.5/css/layui.css" rel="stylesheet" />
<style>
    .layui-date1 {
        position: absolute;
        right: 3px;
        top: 25%;
        margin-top: -10px;
        cursor: pointer;
        font-size: 28px;
        color: #1aa094;
    }

    .layui-date2 {
        position: absolute;
        right: 3px;
        top: 25%;
        margin-top: -10px;
        cursor: pointer;
        font-size: 28px;
        color: #1aa094;
    }
    .layui-card {
        border: 1px solid #f2f2f2;
        border-radius: 5px;
    }

    .icon {
        margin-right: 10px;
        color: #1aa094;
    }

    .icon-cray {
        color: #ffb800 !important;
    }

    .icon-blue {
        color: #1e9fff !important;
    }

    .icon-tip {
        color: #ff5722 !important;
    }

    .layuimini-qiuck-module {
        text-align: center;
        margin-top: 10px
    }

        .layuimini-qiuck-module a i {
            display: inline-block;
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 2px;
            font-size: 30px;
            background-color: #F8F8F8;
            color: #333;
            transition: all .3s;
            -webkit-transition: all .3s;
        }

        .layuimini-qiuck-module a cite {
            position: relative;
            top: 2px;
            display: block;
            color: #666;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
        }

    .welcome-module {
        width: 40%;
        height: 100px;
    }

    .panel {
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05)
    }

    .panel-body {
        padding: 30px
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
        color: inherit
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        margin-top: .3em;
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        margin-top: .3em;
    }

    .layui-bg-number {
        background-color: #F8F8F8;
    }

    .tmp-layui-col-xs4 {
        width: 12.5%;
        float: left;
        position: relative;
        display: block;
        box-sizing: border-box
    }
</style>
<script>
    layui.use(['jquery', 'form', 'table', 'common', 'tablePlug', "layer", 'echarts', 'element', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            common = layui.common,
            layer = layui.layer,
            echarts = layui.echarts,
            element = layui.element,
            laydate = layui.laydate;
        wcLoading.close();
        $(function () {
            loadOne();
            loadTwo();
            loadThree();
            loadFour();
            loadFive();
            loadSix();
            loadSeven();
            loadEight();
        });
        laydate.render({
            elem: '#test1'
            , range: true,
            eventElem: '.layui-date1',
            trigger: 'click',
            done: (value) => {
                //赋值
                $('#test1').val(value);
                //执行指定方法
            }
        });
        laydate.render({
            elem: '#test2'
            , range: true,
            eventElem: '.layui-date2',
            trigger: 'click',
            done: (value) => {
                //赋值
                $('#test2').val(value);
                //执行指定方法
            }
        });
        form.on("select", function (data) {
            loadSix();
        });

        function loadOne() {
            var listName = new Array();
            var str = [];
            $.ajax({
                url: "/EquipmentMaintain/EquipmentManage/GetDataEMEquipmentStatus",
                dataType: "json",
                async: false,
                success: function (data) {
                    $(data).each(function (index, item) {
                        listName.push(item.Type);
                        var str3 = new Object();
                        str3.name = item.Type;
                        str3.value = item.Cost;
                        str[index] = str3;
                    })
                }
            });
            var myChart = echarts.init(document.getElementById('chart1'));

            var option = {
                color: ['#f28533', '#6bedfd', '#6d48e6', '#ff6239'],
                tooltip: {
                    trigger: 'item',
                    formatter: "{b} : ({c}套)"
                },
                series: [{
                    name: '',
                    type: 'pie',
                    radius: '70%',
                    center: ['45%', '60%'],
                    data: str,
                    itemStyle: {  //图形样式
                        normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                formatter: function (params) {
                                    var percent = 0;
                                    var total = 0;
                                    for (var i = 0; i < str.length; i++) {
                                        total += str[i].value;
                                    }
                                    percent = ((params.value / total) * 100).toFixed(0);
                                    if (params.name !== '') {
                                        return params.name + '：' + params.value + '套' + '\n' + '\n' + percent + '%';
                                    } else {
                                        return '';
                                    }
                                },
                                rich: {
                                    font: {
                                        fontSize: 14,
                                        padding: [5, 0],
                                        color: '#808080'
                                    },
                                    hr: {
                                        height: 0,
                                        borderWidth: 1,
                                        width: '100%',
                                        borderColor: '#808080'
                                    }
                                }
                            },
                            //labelLine: {     //标签的视觉引导线样式
                            //    show: false  //平常不显示
                            //},
                            labelLine: {
                                length: 8,
                                length2: 8,
                                show: true,
                                color: '#00ffff'
                            }
                        },

                        //emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                        //    label: {  //饼图图形上的文本标签
                        //        show: true,
                        //        position: 'center',
                        //        textStyle: {
                        //            fontSize: '20',
                        //            fontWeight: 'bold'
                        //        }
                        //    },
                        //    itemStyle: {
                        //        shadowBlur: 10,
                        //        shadowOffsetX: 0,
                        //        shadowColor: 'rgba(0, 0, 0, 0.5)'
                        //    }
                        //}
                    }
                }]
            };
            myChart.setOption(option);
            // echarts 窗口缩放自适应
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        }
        function loadTwo() {
            common.rendertable({
                elem: '#currentTableId',
                id: 'currentTableId',
                url: "/EquipmentMaintain/EquipmentManage/GetGridJson",
                height: 180,
                toolbar: false,/*隐藏打印*/
                page: true,/*隐藏分页*/
                sqlkey: 'id',//数据库主键
                cols: [[
                    { field: 'id', title: 'ID', sort: true, hide: true, hideAlways: true },
                    { field: 'Number', title: '编号', width: 150, sort: true },
                    { field: 'Name', title: '名称', width: 150, sort: true },
                    { field: 'Brand', title: '品牌', width: 150, sort: true },
                    { field: 'Department', title: '部门', width: 150, sort: true, filter: true },
                    { field: 'State', title: '状态', width: 140, sort: true, filter: true },
                    {
                        field: 'DateArrival', title: '入厂日期', width: 105,
                        templet: function (d) {
                            if (d.DateArrival) {
                                return new Date(d.DateArrival).Format("yyyy-MM-dd");

                            }
                        }
                    },
                ]]
            });
            // 监听搜索操作
            form.on('submit(data-search-btn1)', function (data) {
                //执行搜索重载
                common.reloadtable({
                    elem: 'currentTableId',
                    curr: 1,
                    where: { keyword: $('#txt_keyword').val() }
                });
                duty = null;
                return false;
            });
        }
        function loadThree() {
            common.rendertable({
                elem: '#currentTableId1',
                id: 'currentTableId1',
                url: "/EquipmentMaintain/EquipmentManage/GetDataEMMaintainPlan",
                height: 240,
                toolbar: false,/*隐藏打印*/
                page: true,/*隐藏分页*/
                sqlkey: 'id',//数据库主键
                cols: [[
                    { field: 'id', title: 'ID', sort: true, hide: true, hideAlways: true },
                    { field: 'EquipmentNumber', title: '设备编号', width: 100, sort: true },
                    { field: 'EquipmentName', title: '设备名称', width: 100, sort: true },
                    { field: 'Department', title: '部门', width: 100, sort: true, filter: true },
                    { field: 'MaintainPlan', title: '保养计划', width: 100, sort: true },
                    { field: 'MaintainType', title: '保养类型', width: 100, sort: true },
                    {
                        field: 'PlanStartTime', title: '计划开始时间', width: 100,
                        templet: function (d) {
                            if (d.PlanStartTime) {
                                return new Date(d.PlanStartTime).Format("yyyy-MM-dd");

                            }
                        }
                    },
                    {
                        field: 'PlanEndTime', title: '计划结束时间', width: 100,
                        templet: function (d) {
                            if (d.PlanEndTime) {
                                return new Date(d.PlanEndTime).Format("yyyy-MM-dd");

                            }
                        }
                    },
                    { field: 'Remarks', title: '保养备注', width: 100, sort: true, filter: true },
                ]]
            });
            // 监听搜索操作
            form.on('submit(data-search-btn2)', function (data) {
                //执行搜索重载
                common.reloadtable({
                    elem: 'currentTableId1',
                    curr: 1,
                    where: { keyvalue: $('#test1').val(), keyword: $('#txt_keyword1').val() }
                });
                duty = null;
                return false;
            });
        }
        function loadFour() {
            common.rendertable({
                elem: '#currentTableId2',
                id: 'currentTableId2',
                url: "/EquipmentMaintain/EquipmentManage/GetDataEMMaintainHistory",
                height: 240,
                toolbar: false,/*隐藏打印*/
                page: true,/*隐藏分页*/
                sqlkey: 'id',//数据库主键
                cols: [[
                    { field: 'id', title: 'ID', sort: true, hide: true, hideAlways: true },
                    { field: 'EquipmentNumber', title: '设备编号', width: 100, sort: true },
                    { field: 'EquipmentName', title: '设备名称', width: 100, sort: true },
                    { field: 'Department', title: '部门', width: 100, sort: true, filter: true },
                    { field: 'MaintainPlan', title: '保养计划', width: 100, sort: true },
                    { field: 'MaintainType', title: '保养类型', width: 100, sort: true },
                    { field: 'MaintainPersonnel', title: '保养人员', width: 100, sort: true },
                    {
                        field: 'MaintainTime', title: '保养时间', width: 100,
                        templet: function (d) {
                            if (d.MaintainTime) {
                                return new Date(d.MaintainTime).Format("yyyy-MM-dd");

                            }
                        }
                    },
                    { field: 'MaintainRecord', title: '保养记录', width: 100, sort: true, filter: true },
                ]]
            });
            // 监听搜索操作
            form.on('submit(data-search-btn3)', function (data) {
                //执行搜索重载
                common.reloadtable({
                    elem: 'currentTableId2',
                    curr: 1,
                    where: { keyvalue: $('#test2').val(), keyword: $('#txt_keyword2').val() }
                });
                duty = null;
                return false;
            });
        }
        function loadFive() {
            var listName = new Array();
            var TotalCost = 0;
            var str = [];
            $.ajax({
                url: "/EquipmentMaintain/EquipmentManage/GetDataEMMaintainAnalysis",
                dataType: "json",
                async: false,
                success: function (data) {
                    $(data).each(function (index, item) {
                        listName.push(item.Type);
                        var str3 = new Object();
                        str3.name = item.Type;
                        str3.value = item.Cost;
                        str[index] = str3;
                        TotalCost += item.Cost;
                    })
                }
            });
            var myChart = echarts.init(document.getElementById('chart2'));

            var option = {
                tooltip: {
                    //trigger: 'item',
                    formatter: "{b} : {d}% <br/> {c}"
                },
                legend: {
                    left: 'center',
                    itemWidth: 10,  //图例标记的图形宽度
                    itemHeight: 10, //图例标记的图形高度
                    bottom: 0,
                    icon: "circle",
                    data: listName,
                    itemGap: 20,
                    textStyle: {    //图例文字的样式
                        color: '#000000',  //文字颜色
                        fontSize: 12    //文字大小
                    }
                },
                title: [{
                    text: TotalCost + '次',
                    x: 'center',
                    y: '45%',
                    subtextStyle: {
                        color: "#808080",
                        fontSize: 15,
                        fontFamily: 'KaiTi',
                    },
                }],
                series: [{
                    type: 'pie',
                    radius: ['55%', '60%'],
                    center: ['50%', '50%'],
                    color: ['#FF6600', '#FFCC00', '#CCFF99', '#99CCFF'],
                    hoverAnimation: false,
                    itemStyle: {
                        normal: {

                        }
                    },
                    data: str,
                    labelLine: {
                        normal: {
                            show: false,
                        }
                    },
                    label: {
                        normal: {
                            formatter: '{c}',
                            textStyle: {
                                color: '#666666',
                                fontSize: 16
                            }

                        }
                    }
                }]
            };
            myChart.setOption(option);
            // echarts 窗口缩放自适应
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        }
        function loadSix() {
            var listDeviceType = new Array();
            var listDeviceName = new Array();
            var listAll = new Array();
            var keyValue = $('#sel_cycle option:selected').val();
            $.ajax({
                url: "/EquipmentMaintain/EquipmentManage/GetDataEMMaintainAnalysisDepartment",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (da) {
                    $(da).each(function (index, item) {
                        listDeviceType.push(item.DeviceType);
                        listDeviceName.push(item.DeviceName);
                        listAll.push(item);
                    })
                }
            })

            $.unique(listDeviceType);
            $.unique(listDeviceName.sort());

            var series = [];
            $.each(listDeviceName, function (index, value) {
                var tempName = new Array();
                var tempArry = new Array();
                $.each(listAll, function (index1, value1) {
                    if (value == value1.DeviceName) {
                        tempName = value1.DeviceName;
                        tempArry.push(value1.Number);
                    }
                });
                series.push({
                    name: tempName,
                    type: 'bar',
                    barWidth: '15%',
                    barGap: '80%',
                    data: tempArry,
                    itemStyle: {
                        normal: {
                            label: {
                                show: true, //开启显示
                                position: 'top', //在上方显示
                                textStyle: { //数值样式
                                    color: 'red',
                                    fontSize: 12
                                }
                            },
                            color: function (params) {
                                if (params.value < 6) {
                                    return "#ff6239";
                                } else if (params.value >= 6) {
                                    return "#f3961d";
                                }
                                return "#febf37";
                            }
                        }
                    },
                })
            });

            var myChart = echarts.init(document.getElementById('chart3'));

            var option = {
                color: ['#f2961f', '#6d48e6', '#f70bfc'],
                grid: {
                    top: '12%',
                    left: '0%',
                    right: '0',
                    bottom: '0%',
                    containLabel: true
                },
                //legend: {
                //    itemGap: 30,
                //    data: listDeviceName,
                //    itemWidth: 10,  //图例标记的图形宽度
                //    itemHeight: 10, //图例标记的图形高度
                //    textStyle: {    //图例文字的样式
                //        color: '#808080',  //文字颜色
                //        fontSize: 12    //文字大小
                //    }
                //},
                tooltip: {
                    trigger: 'axis',
                    axisPointer: { // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                xAxis: [
                    {
                        //type: 'category',
                        //axisTick: { show: false },
                        //axisLabel: {
                        //    //X轴刻度配置
                        //    interval: 0 //0：表示全部显示不间隔；auto:表示自动根据刻度个数和宽度自动设置间隔个数
                        //    , rotate: 0
                        //},
                        //data: listDeviceType,

                        type: 'category',
                        data: listDeviceType,
                        axisLine: {
                            show: false,
                            lineStyle: {
                                color: '#808080',

                            }
                        },
                        axisLabel: {
                            // interval: 0,
                            // rotate: 40,
                            textStyle: {
                                fontSize: '11'
                            }
                        },
                        axisTick: { //y轴刻度线
                            show: false
                        },

                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: "(次数)",
                        axisLine: {
                            show: false,
                            lineStyle: {
                                color: '#f2961d'
                            }
                        },
                        splitLine: {
                            show: true,
                            lineStyle: {
                                //color: "#57617B"
                                type: 'dashed'
                            }
                        },
                        axisTick: { //y轴刻度线
                            show: true
                        },
                        axisLabel: {}
                    }
                ],
                series: series
            };
            myChart.setOption(option, true);
            // echarts 窗口缩放自适应
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        }
        function loadSeven() {
            var listName = new Array();
            var TotalCost = 0;
            var str = [];
            //var keyValue = $('#Type_id option:selected').val();
            $.ajax({
                url: "/EquipmentMaintain/EquipmentManage/GetDataEMMaintainAnalysisReason",
                //data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $(data).each(function (index, item) {
                        //if (index == 0) {
                        //    TotalCost = item.TotalCost;
                        //}
                        listName.push(item.Name);
                        var str3 = new Object();
                        str3.name = item.Name;
                        str3.value = item.Cost;
                        str[index] = str3;
                        TotalCost += item.Cost;
                    })
                }
            });
            var myChart = echarts.init(document.getElementById('chart4'));
            // 指定图表的配置项和数据
            var option = {
                title: {//标题组件
                    text: '￥' + Math.round(TotalCost/10000) + '万',
                    top: '45%',
                    left: '42%',
                    textStyle: {
                        color: "#000000",
                        fontSize: 15,
                        fontFamily: 'KaiTi',
                    }
                },
                tooltip: { //提示框组件
                    trigger: 'item', //触发类型(饼状图片就是用这个)
                    formatter: "{b} : ({c}%)"//"{a} <br/>{b} : {c} ({d}%)" //提示框浮层内容格式器
                },
                color: ['#febf37', '#f18533', '#6d48e6', '#ff6139'],  //手动设置每个图例的颜色
                //legend: {  //图例组件
                //    //right:100,  //图例组件离右边的距离
                //    //orient: 'horizontal',  //布局  纵向布局 图例标记居文字的左边 vertical则反之
                //    //width: 40,      //图行例组件的宽度,默认自适应
                //    //x: 'right',   //图例显示在右边
                //    //y: 'bottom',   //图例在垂直方向上面显示居中
                //    itemWidth: 10,  //图例标记的图形宽度
                //    itemHeight: 10, //图例标记的图形高度
                //    bottom: 0,
                //    left: 'center',
                //    data: listName,//['物料', '外协', '自制', '异常'],
                //    textStyle: {    //图例文字的样式
                //        color: '#808080',  //文字颜色
                //        fontSize: 12    //文字大小
                //    }
                //},
                series: [ //系列列表
                    {
                        //name:'设备状态',  //系列名称
                        type: 'pie',   //类型 pie表示饼图
                        center: ['50%', '50%'], //设置饼的原心坐标 不设置就会默认在中心的位置
                        radius: ['50%', '68%'],  //饼图的半径,第一项是内半径,第二项是外半径,内半径为0就是真的饼,不是环形
                        itemStyle: {  //图形样式
                            normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                                borderWidth: 4,
                                borderColor: '#fff',
                                //label: {  //饼图图形上的文本标签
                                //    show: true,  //平常不显示
                                //    formatter: '{c}%',
                                //    position: 'inner'
                                //},
                                //labelLine: {     //标签的视觉引导线样式
                                //    show: false  //平常不显示
                                //}
                                label: {
                                    //formatter: '{font|{c}}\n{hr|}\n{font|{d}%}',
                                    formatter: function (params) {
                                        var percent = 0;
                                        var total = 0;
                                        for (var i = 0; i < str.length; i++) {
                                            total += str[i].value;
                                        }
                                        percent = ((params.value / total) * 100).toFixed(0);
                                        if (params.name !== '') {
                                            return params.name + '：' + params.value + '' + '\n' + '\n' + percent + '%';
                                        } else {
                                            return '';
                                        }
                                    },
                                    rich: {
                                        font: {
                                            fontSize: 14,
                                            padding: [5, 0],
                                            color: '#808080'
                                        },
                                        hr: {
                                            height: 0,
                                            borderWidth: 1,
                                            width: '100%',
                                            borderColor: '#808080'
                                        }
                                    }
                                },
                                labelLine: {
                                    length: 10,
                                    length2: 10,
                                    show: true,
                                    color: '#00ffff'
                                }
                            },
                            //emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            //    label: {  //饼图图形上的文本标签
                            //        show: true,
                            //        position: 'center',
                            //        textStyle: {
                            //            fontSize: '18',
                            //            fontWeight: 'bold'
                            //        }
                            //    }
                            //}
                        },
                        data: str
                    }
                ]
            };
            myChart.setOption(option);
            // echarts 窗口缩放自适应
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        }
        function loadEight() {
            common.rendertable({
                elem: '#currentTableId3',
                id: 'currentTableId3',
                url: '/EquipmentMaintain/EquipmentManage/GetGridJsonOne',
                height: 240,
                toolbar: false,/*隐藏打印*/
                page: true,/*隐藏分页*/
                sqlkey: 'id',//数据库主键
                cols: [[
                    { field: 'id', title: 'ID', sort: true, hide: true, hideAlways: true },
                    { field: 'RepairOrderNo', title: '报修单号', width: 120, sort: true },
                    { field: 'RepairDepartment', title: '报修部门', width: 120, sort: true },
                    { field: 'RepairEquipment', title: '报修设备', width: 120, sort: true },
                    { field: 'RepairPersonnel', title: '报修人员', width: 100, sort: true },
                    { field: 'FaultDescription', title: '故障描述', width: 120, sort: true },
                    { field: 'ServiceNumber', title: '维修编号', width: 130, sort: true },
                    { field: 'ServiceType', title: '维修类型', width: 120, sort: true, filter: true },
                    { field: 'Supplier', title: '维修人员/外修供应商', width: 120, sort: true },
                    { field: 'FaultCategory', title: '故障类别', width: 120, sort: true, filter: true },
                    { field: 'MaintainPrice', title: '外修价格', width: 100, sort: true },
                    { field: 'State', title: '状态', width: 120, sort: true, filter: true },
                ]]
            });
        }
    })
</script>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>设备状态分布
                        <button type="button" id="funOne" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                    </div>
                    <div class="layui-card-body layui-text">
                        <div id="chart1" style="height:180px;"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md8">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>设备清单
                        <button type="button" id="funTwo" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                        <div class="layui-inline" style="float: right;">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn1"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                        </div>
                        <div class="layui-inline" style="float: right;">
                            <div class="layui-input-inline">
                                <input type="text" id="txt_keyword" name="txt_keyword" autocomplete="off" class="layui-input" placeholder="">
                            </div>
                        </div>
                    </div>
                    <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
                </div>
            </div>
            <div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>保养计划
                        <button type="button" id="funThree" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                        <div class="layui-inline" style="float: right;">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn2"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                        </div>
                        <div class="layui-inline" style="float: right;">
                            <div class="layui-input-inline">
                                <input type="text" id="txt_keyword1" name="txt_keyword1" autocomplete="off" class="layui-input" placeholder="">
                            </div>
                        </div>
                        <div class="layui-inline" style="float: right;">
                            <div class="layui-input-inline">
                                <input type="text" style="width:190px;" class="layui-input" id="test1" placeholder=" - " readonly="readonly"><i class="layui-icon layui-date1"></i>
                            </div>
                        </div>
                    </div>
                    <table class="layui-hide" id="currentTableId1" lay-filter="currentTableFilter"></table>
                </div>
            </div>

            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>保养历史
                        <button type="button" id="funThree" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                        <div class="layui-inline" style="float: right;">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn3"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                        </div>
                        <div class="layui-inline" style="float: right;">
                            <div class="layui-input-inline">
                                <input type="text" id="txt_keyword2" name="txt_keyword2" autocomplete="off" class="layui-input" placeholder="">
                            </div>
                        </div>
                        <div class="layui-inline" style="float: right;">
                            <div class="layui-input-inline">
                                <input type="text" style="width:190px;" class="layui-input" id="test2" placeholder=" - " readonly="readonly"><i class="layui-icon layui-date2"></i>
                            </div>
                        </div>
                    </div>
                    <table class="layui-hide" id="currentTableId2" lay-filter="currentTableFilter"></table>
                </div>
            </div>

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>维修分析
                        <button type="button" id="funThree" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                    </div>
                    <form class="layui-form layui-form-pane" action="" style="text-align:center;position: relative;top:-40px">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-input-block">
                                    <select id="sel_cycle" name="sel_cycle" lay-verify="required">
                                        <option value="1" selected>月</option>
                                        <option value="2">季</option>
                                        <option value="3">半年</option>
                                        <option value="4">年</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="layui-card-body layui-text">
                        <div style="float:left;width:25%;">
                            <div id="chart2" style="height:240px; "></div>
                            <div style="text-align:center;font-size:13px;color:#808080;">维修次数前5名</div>
                        </div>
                        <div style="float:left;width:45%;">
                            <div id="chart3" style="height:240px;"></div>
                            <div style="text-align:center;font-size:13px;color:#808080;">维修分析（部门）</div>
                        </div>
                        <div style="margin-left:70%;width:auto;">
                            <div id="chart4" style="height:240px;"></div>
                            <div style="text-align:center;font-size:13px;color:#808080;">维修分析（原因）</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="fa fa-fire icon"></i>维修记录表
                        <button type="button" id="funThree" style="border: none;float: right;" class="layui-btn layui-btn-primary"><i class="fa fa-expand icon"></i></button>
                    </div>
                    <table class="layui-hide" id="currentTableId3" lay-filter="currentTableFilter"></table>
                </div>
            </div>
        </div>
    </div>
</div>